extends layout 

block layout-content 
  section#about__hero
    .hero__background
      .hero__products 
        h3 About
    .hero__container
      .hero__left
        h2.about__h2 OneSeed
        p Who we are
  section#about
    .about__container
      .about__circle
        .imgabout
      .about__detail
        p.about__text OneSeed is one of the largest privately held seed companies in Canada. OneSeed has a broad variety of items ideal for Canada's diverse climates, including over 110 flowers, 50 veggies, and 50 herbs.
        br
        p.about__text Our mission is to supply Canadian gardeners with the highest quality seed at the most affordable prices. We provide detailed information on planting and growing seeds in several Canadian temperature zones to assist our customers.