extends layout 
block layout-content 
  section#coming__hero
    .coming__background
    .hero__container
      .hero__left
        h2.about__h2 OneSeed
        p Currently working on...
  section#coming 
    .coming__container 
      h2.soon Coming Soon...