extends layout 
block layout-content 
  //- Coming Soon Page for links that are not ready
  //- ComingSoon Hero
  section#coming__hero
    .coming__background
    .hero__container
      .hero__left
        h2.about__h2 OneSeed
        p Currently working on...
  //- ComingSoon Main 
  section#coming 
    .coming__container 
      h2.soon Coming Soon...