extends layout 

block layout-content 
  section#hero
    .hero__background
      .hero__products 
        h3 Products
    .hero__container
      .hero__left
        h2 Growing up in
        h2 a loving environment 
        p Make your contribution with one seed
      .hero__right 
        .hero__img
  section#product
    .product__container 
      .product 
        .product__circle
          .circle
            a(href="#"): .img1
        .product__content
          a(href="/comingsoon"): h6 Sunflower
          p Sunflowers are usually tall annual or perennial plants
          figure Family: The Asteraceae
          a(href="/comingsoon").product__detail See details 
      .product 
        .product__circle
          .circle
            a(href="#"): .img2
        .product__content
          a(href="/comingsoon"): h6 Aster
          p Aster is a genus of perennial flowering plants in the family Asteraceae
          figure Family: The Asteraceae
          a(href="/comingsoon").product__detail See details 
      .product 
        .product__circle
          .circle
            a(href="#"): .img3
        .product__content
          a(href="/comingsoon"): h6 Lilium
          p Lilium is a genus of herbaceous flowering plants growing from bulbs, all with large prominent flowers.
          figure Family: The Liliaceae
          a(href="/comingsoon").product__detail See details 
      .product 
        .product__circle
          .circle
            a(href="#"): .img4
        .product__content
          a(href="/comingsoon"): h6 Rose
          p A rose is a woody perennial flowering plant of the genus Rosa.
          figure Family: The Rosaceae
          a(href="/comingsoon").product__detail See details 
      .button__more 
        a(href="/comingsoon").arrow__icon: i.fa-solid.fa-v     
        a(href="/comingsoon"): span See More 
    .section__help 
      h3 We are here to support

      
